.react-time-picker__wrapper {
	border: none;
}

.react-time-picker__inputGroup__hour {
	border: none;
	outline: none;
}

.react-time-picker__inputGroup__minute {
	outline: none;
}

.react-time-picker__inputGroup__amPm {
	outline: none;
	background-color: transparent;
}
